<div class="container">
  <div class="jumbotron mb-0 mt-3">
    <h1 class="display-4">Add new product</h1>
  </div>
  <div class="card mt-3">
    <form
      #addForm="ngForm"
      (ngSubmit)="addProduct(addForm)"
      class="product-form card-body"
      method="post"
    >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          ngModel
          class="form-control"
          name="name"
          type="text"
          placeholder="Your product name"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          ngModel
          class="form-control"
          name="description"
          type="text"
          placeholder="Product's description"
          required
        />
      </div>
      <div class="form-group">
        <label for="uriImg">Image</label>
        <input
          ngModel
          class="form-control"
          name="uriImg"
          type="url"
          placeholder="Image url"
          required
        />
      </div>
      <div>
        <label for="price">Price</label>
        <input
          ngModel
          class="form-control"
          name="price"
          type="text"
          placeholder="Product's price"
          currencyMask
          required
        />
      </div>
      <button
        [disabled]="addForm.invalid"
        type="submit"
        class="btn btn-primary mt-2"
      >
        Register Product
      </button>
    </form>
  </div>
</div>
