<section class="las text-center bg-light col-12">
  <div *ngIf="mensagemError">Not product found.</div>
  <div *ngFor="let product of products">
    <div>
      <img class="" style="margin: 0 auto" [src]="product.uriImg" alt="" />
    </div>
    <div>
      <h3 class="text-danger mt-3">
        {{ product.name }}
      </h3>
    </div>
    <p>{{ product.description }}</p>
    <h5>{{ product.price | currency: "BRL" }}</h5>
    <a routerLink="{{ product.id }}">
      <button class="btn btn-success">Buy</button>
    </a>
  </div>
</section>
