<div class="container">
  <div class="card mt-3">
    <form action="" class="card-body">
      <div class="form-group">
        <label for="username">User</label>
        <input
          class="form-control"
          name="username"
          type="text"
          placeholder="@example"
        />
      </div>
      <div>
        <label for="username">Password</label>
        <input
          class="form-control"
          name="username"
          type="password"
          placeholder="********"
        />
      </div>
      <button class="btn btn-primary mt-2">Login</button>
    </form>
  </div>
</div>
