<h2 class="cart-title">Carrinho</h2>
<h4 *ngIf="cartEmpty" class="font-weight-light text-center">
  The cart is empty <i class="fa-solid fa-cart-shopping"></i>
</h4>
<div>
  <ul class="p-2" *ngFor="let cart of carts">
    <li>
      <img [src]="cart.product.uriImg" alt="" />
      <p>{{ cart.product.name }}</p>
      <p>{{ cart.product.price | currency: "BRL" }}</p>
      <label>
        Quantidade:
        <input type="number" value="{{ cart.amount }}" />
      </label>
      <button class="remove-button" (click)="deleteProduct()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </li>
  </ul>
  <h2 class="cart-total ml-3">Total</h2>
  <button class="btn btn-success ml-3">Comprar</button>
</div>
